.btn{
    font-size: 30px;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    border-top: 0px;
    border-bottom: 0px;
    border-left-width: 1px;
    border-right-width: 0px;
    border-radius: 0%;
}

#Home{
    border-left-width: 0px;
}

.btn:hover{
    background-color: rgb(143, 143, 143);
}

.btndiv{
    text-align: center;
    display: inline-flex;
}

.title{
    padding-top: 20px;
    color:white;
    text-align: center;
    font-size: 75px;
    margin: 20px;
}

.title:hover{
    color: grey;
}

.header{
    background-color: rgb(128, 128, 128,40%);
    height:250px;
    margin: 0px;
    border:0px solid gray;
}
.prtitle{
    color: white;
    font-size: 50px;
}

.container{
    color: white;
    text-align: center;
    border: 0px;
    font-size: 40px;
    display: inline-grid;
}

body{
    font-family: 'Roboto', sans-serif;
    text-align: center;
    background-image: url("Imgs/Background.jpg");
    background-size:50%;


    margin: 0px;
    border-top: 0px;
    padding: 0px;
    outline: 0px;
    position: relative;
    top: -22px;
}

.Links:visited{
    color:cornflowerblue;
}

.Links:link{
    color:cornflowerblue;
}