.btn{
    font-size: 30px;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    border-radius: 5%;
}

.btn:hover{
    background-color: rgb(143, 143, 143);
}

.btndiv{
    text-align: center;
}

.title{
    text-align: center;
}

.header{
    background-color: gray;
    height:150px;
    margin: 0px;
    border:20px solid gray;
}

.prtitle{
    color: white;
    font-size: 50px;
}

.container{
    text-align: center;
    font-size: 10px;
    border: 0px;
    display: inline-grid;
}

.grid{
    text-align: center;
    width: 600px;
    border: 3px solid black;
    margin: 100px;
    padding: 60px;
    background-color: grey;
    border-radius: 1%;
    line-height: 10px;
}

.maincont{
    font-size: 50px;
    line-height: 50px;
}

.Play{
    font-size: large;
    height: 50px;
    width: 100px;
    border-radius: 0%;
}

.Play:hover{
    background-color: rgb(173, 173, 173);
}

.desc{
    font-size: 20px;
    line-height: 20px;
}

body{
    font-family: 'Roboto', sans-serif;
    text-align: center;
    margin: 0px;
    background-image: url("Imgs/wp9112558.jpg");
    background-size:50%;
}